@import "./colors.css";

#bluetooth {
	background-color: @surface-0;
    padding: 0px 8px 0px 8px;
	color: @green;
    font-size: 14px;
}
#bluetooth.disabled{
	color: @red;
}
#bluetooth.off{
	color: @text;
}
#bluetooth.on{
}
#bluetooth.connected{
}
#bluetooth.discoverable{
	color: @yellow;
}
#bluetooth.discovering{
	color: @maroon;
}
#bluetooth.pairable{
	color: @flamingo;
}