@import "./colors.css";

#battery {
	background-color: @surface-0;
    color: @subtext-1;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 16px 0px 8px;
    margin: 0px;
    font-size: 14px;
}

#battery.charging {
    color: @green;
}

#battery.plugged {
    color: @teal;
}

@keyframes blink {
    to {
        color: @black;
    }
}

#battery.critical:not(.charging) {
	background-color: @red;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}