@import "./colors.css";

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#custom-spotify {
    font-size: 14px;
	background-color: @base;
	color: @text;
}

#custom-spotify.paused {
	background-color: @base;
	color: @text;
}

#custom-spotify.playing {
    background: linear-gradient(90deg, @flamingo 25%, @red 50%, @yellow 75%, @teal 100%); 
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: @crust;
    margin: 8px 8px;
}

#custom-spotify.offline {
	background-color: @red;
	color: @text;
}

#mpd {
	color: @text;
}

#mpd.disconnected {
	color: @red;
}

#mpd.stopped {
	color: @maroon;
}

#mpd.playing {
    background: linear-gradient(90deg, @flamingo 25%, @red 50%, @yellow 75%, @teal 100%); 
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: @crust;
}

#mpd.paused {
	color: @text;
}
