@import "./colors.css";


#memory,
#disk,
#idle_inhibitor {
    font-size: 14px;
    margin: 8px 8px;
}


#idle_inhibitor {
	color: @green;
}
#idle_inhibitor.deactivated {
    color: @red;
}
#disk {
    color: @yellow;
}
#cpu {
    color: @teal;
    font-size: 14px;
    margin: 0px 8px 0px 0px;
}
#memory {
    color: @mauve;
}
#custom-cpu{
    font-size: 17px;
    margin: 0px 8px;
    color: @teal;
}