@import "./colors.css";

#workspaces {
	background-color: @surface-1;
	border-radius: 15px;
	margin: 0px 0px;
	padding: 0px 0px;
}
#workspaces button{
	color: @subtext-1;
}
#workspaces button.active{
	color: @green;
}
#workspaces button.urgent{
	color: @red;
}
#workspaces button.hidden{
	color: @yellow;
}